/*
 * Copyright 2020 Dwindra Sulistyoutomo
 */

/* Color list */
:root {
  --main-color: rgba(29,128,159,1);
  --main-color-opacity: rgba(29,128,159,0.8);
  --main-color-hover: rgba(29,128,159,0.5);
}

.body {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

/* default heading setting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* ========== Side Menu ========== */
/* menu icon */
.menu-toggle {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: var(--main-color-opacity);
  line-height: 50px;
  z-index: 999;
  transition: all 0.4s ease 0s;
}
.menu-toggle.active {
  left: 265px;
  transition: all 0.4s ease 0s;
}
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: var(--main-color-opacity);
  padding-top: 9px;
}
a.menu-toggle:hover, a.scroll-to-top:hover {
  background: var(--main-color-hover);
}

.menu-toggle:focus, .menu-toggle:hover, .scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}
.menu-toggle:hover, .scroll-to-top:hover {
  background: #343a40;
}

/* sidebar content */
#sidebar-wrapper {
  position: fixed;
  z-index: 10;
  left: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(-250px);
  background: var(--main-color-opacity);
}
#sidebar-wrapper.active {
  left: 250px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
  display: block;
  color: #fff;
  padding: 15px;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-brand {
  font-size: 1.25rem;
  background: rgba(52, 58, 64, 0.3);
  width: 100%;
}
.sidebar-brand a {
  display: block;
  padding: 15px;
  color: #fff;
}


@media (max-width: 992px) {
  .menu-toggle.active {
    left: 15px;
    top: 65px;
    transition: all 0.4s ease 0s;
  }
  #sidebar-wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    transition: all 0.4s ease 0s;
    transform: translate(0, -100px);
  }
  #sidebar-wrapper.active {
    left: 0;
    top: 100px;
    transition: all 0.4s ease 0s;
  }
  .sidebar-nav {
    position: absolute;
    width: 100%;
  }
  .sidebar-brand {
    display: none;
  }
  .sidebar-nav-item {
    display: inline-block;
  }
  .sidebar-brand {
    width: 300px;
  }
  .sidebar-nav li.sidebar-nav-item a {
    padding: 15px;
    /*width: 80px;*/
    text-align: center;
  }
}

/* ========== Body Contents ========== */
/* Header */
.page-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.page-header h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.header-container{
  z-index: 3;
}
.img-header-prof-pic {
  width: 250px;
  border-radius: 50%;
}
.header-bg {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
}
.img-header-bg, .img-header-bg-mobile{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: right bottom;
  opacity: 0.8;
}
.img-header-bg-mobile {
  opacity: 0.5;
  display: none;
}

/* SCREEN RESPONSIVE */
@media (max-width: 992px) {
  .page-header h1 {
    font-size: 3rem;
  }
  .img-header-bg {
    display: none;
  }
  .img-header-bg-mobile {
    display: block;
  }
}

/* Content */
.content-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}
.content-section-heading h3 {
  font-size: 2rem;
}
.content-section-heading h4 {
  font-size: 1rem;
  text-transform: uppercase;
}

/* Portfolio */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 520px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  /* transition for hover */
  transition: clip-path 0.25s ease-out, background-color 0.7s;
  clip-path: inset(0px);
}
.portfolio-item .caption .caption-content {
  margin: auto 2rem 2rem;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;

  /* transition for hover */
  transition: opacity 0.25s;
}
.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

.portfolio-item img {
  transition: clip-path 0.25s ease-out;
  clip-path: inset(-1px);
}

.portfolio-item:hover img {
  clip-path: inset(1rem);
}
.portfolio-item:hover .caption {
  background-color: rgba(33, 37, 41, 0.6);
  clip-path: inset(1rem);
}


/* Footer */
footer.footer .content-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2c3e50;
  color: #fff;
}
.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #1a252f;
  color: #fff;
}


/* ========== Elements ========== */
/* Modify button for social media */
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.btn-main {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem 2rem;
}
.btn-main:hover {
  background: var(--main-color-hover);
  color: #fff;
}