/*
 * Copyright 2020 Dwindra Sulistyoutomo
 */

/* Color list */
:root {
  --main-color: rgba(29,128,159,1);
  --main-color-opacity: rgba(29,128,159,0.8);
  --main-color-hover: rgba(29,128,159,0.5);
  --bg-color: rgba(213,243,254,1);
  --header-color: rgba(44,62,80,1);
  --header-color-darker: rgba(26,37,47,1);
}

.body {
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

/* default heading setting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/* ========== Side Menu ========== */
/* scroll to top icon */
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: var(--main-color-opacity);
  padding-top: 9px;
}
a.scroll-to-top:hover {
  background: var(--main-color-hover);
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: #fff;
}
.scroll-to-top:hover {
  background: #343a40;
}

/* sidebar content */
.sidebar-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: all 0.4s ease 0s;
  background: var(--header-color);
}
.sidebar-nav {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: var(--main-color-hover);
}
.sidebar-brand, .sidebar-nav-item {
  display: inline-block;
}
.sidebar-brand a {
  display: block;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.5rem;
}
.sidebar-nav-item a {
  display: block;
  color: #fff;
  padding: 16px;
}


@media (max-width: 992px) {
  .sidebar-brand {
    display: none;
  }
  .sidebar-nav-item a {
    padding: 10px;
  }
}

/* ========== Body Contents ========== */
/* Header */
.page-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-color);
}
.page-header h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.header-container{
  z-index: 3;
}
.img-header-prof-pic {
  width: 250px;
  border-radius: 50%;
}
.header-bg {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
}
.img-header-bg, .img-header-bg-mobile{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: right bottom;
  opacity: 0.8;
}
.img-header-bg-mobile {
  opacity: 0.1;
  display: none;
}

/* SCREEN RESPONSIVE */
@media (max-width: 992px) {
  .page-header h1 {
    font-size: 3rem;
  }
  .img-header-bg {
    display: none;
  }
  .img-header-bg-mobile {
    display: block;
  }
}

/* Content */
.content-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.content-section-heading {
  margin-bottom: 1rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}
.content-section-heading h3 {
  font-size: 2rem;
}
.content-section-heading h4 {
  font-size: 1rem;
  text-transform: uppercase;
}
.content-section-heading h5 {
  font-size: 1.5rem;
}

/* About */
.about-content {
  text-align: left;
}
.about-image-wrapper {
  padding: 0 15px;
  overflow: hidden;
}
.img-about {
  width: 0;
  height: 0;
  object-fit: cover;
  object-position: 	center center;
}
.skill-content {
  margin: 16px 0;
}
.img-skill {
  height: 60px;
  width: auto;
  margin: 0 10px;
}

/* SCREEN RESPONSIVE */
@media (max-width: 992px) {
  .about-image-wrapper {
    display: none;
  }
  .about-content {
    font-size: 1rem;
  }
}
/* Portfolio */
.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 520px;
  margin: auto auto 1rem;
}
.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;

  /* transition for hover */
  transition: clip-path 0.25s ease-out, background-color 0.7s;
  clip-path: inset(0px);
}
.portfolio-item .caption .caption-content {
  margin: auto 2rem 2rem;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;

  /* transition for hover */
  transition: opacity 0.25s;
}
.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

.portfolio-item img {
  transition: clip-path 0.25s ease-out;
  clip-path: inset(-1px);
}

.portfolio-item:hover img {
  clip-path: inset(1rem);
}
.portfolio-item:hover .caption {
  background-color: rgba(33, 37, 41, 0.6);
  clip-path: inset(1rem);
}

.modal-content {
  display: block;
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 90%;
  max-width: 90%;
  max-height:calc(100% - 60px);
}

.portfolio-desc-text {
  margin: 8px 0;
}

img.center {
  display: block;
  margin: 0 auto;
}

.video-container {
  margin: 2rem auto 0;
  max-width: 640px;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.video-container iframe, .video-container video {
   border: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.video-container video {
  height: auto;
  background-color: black;
}

.close-button {
  position: absolute;
  top: 0; 
  right: 0;
  padding: 6px 10px !important;
}

/* SCREEN RESPONSIVE */
@media (max-width: 992px) {
  .portfolio-desc-media {
    padding-bottom: 15px;
  }
}

/* Footer */
footer.footer .content-section{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--header-color);
  color: #fff;
}
.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--header-color-darker);
  color: #fff;
}


/* ========== Elements ========== */
/* Modify button for social media */
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.btn-main {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem 1rem;
}
.btn-main:hover {
  background: var(--main-color-hover);
  color: #fff;
}

.btn-main.redirect-link {
  font-size: 1.25rem;
}

.center-elements {
  display: flex;
  align-items: center; 
  justify-content: center;
}
.center-elements p {
  margin: 0 1rem;
}